/* General App Styling */
.App {
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f3f8fe, #e2edf5);
  /* Soft gradient background */
  color: #333;
}

/* Loader Styling */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #007bff;
  background: rgba(255, 255, 255, 0.9);
  /* Slightly increased opacity */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Taskbar Styling */
.taskbar {
  background-color: #0056b3;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.taskbar h1 {
  margin: 0;
  font-size: 2rem;
}

.taskbar nav a {
  margin-left: 30px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.taskbar nav a:hover {
  text-decoration: underline;
  color: #ffdf6c;
}

/* Photo List Styling */
.photo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Photo Card Styling */
.photo-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.photo-card p {
  font-size: 1rem;
  margin: 10px 0;
  color: #34495e;
}

.photo-card input {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
  font-size: 0.9rem;
}

.photo-actions {
  display: flex;
  justify-content: space-evenly;
}

/* Edit Button Inside Photo Card */
.photo-actions .edit-button {
  background-color: #0056b3;
  /* Bright red color to emphasize danger (delete action) */
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.photo-actions .edit-button button:hover {
  background-color: #00448d;
  /* Slightly darker green for hover effect */
  transform: scale(1.03);
}

/* Edit Button Inside Photo Card */
.save-button {
  background-color: #0056b3;
  /* Bright red color to emphasize danger (delete action) */
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.save-button button:hover {
  background-color: #00448d;
  /* Slightly darker green for hover effect */
  transform: scale(1.03);
}

/* Delete Button Inside Photo Card */
.photo-actions .delete-photo-button {
  background-color: #ff4d4d;
  /* Bright red color to emphasize danger (delete action) */
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.photo-actions .delete-photo-button:hover {
  background-color: #d93636;
  /* Slightly darker red for hover effect */
  transform: scale(1.03);
}

/* Photo Icon Styling */
.photo-icon {
  width: 60px;
  /* Increased icon size */
  height: 60px;
  margin: 0 auto;
  /* Center the icon inside the photo-card */
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.photo-icon:hover {
  transform: scale(1.2);
  /* Slight zoom effect on hover */
}

/* Photo Viewer Modal Styling */
.photo-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  cursor: pointer;
}

.photo-viewer-content {
  position: relative;
}

.large-photo {
  max-width: 60%;
  /* Adjusted for larger screens */
  max-height: 60%;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

/* Button Group Styling */
.button-group {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.05);
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.button-group button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

/* Confirm Button Styling */
.button-group .confirm-button {
  background-color: #4caf50;
  color: white;
}

.button-group .confirm-button:hover {
  background-color: #409242;
  transform: scale(1.05);
}

/* Print Button Styling */
.button-group .print-button {
  background-color: #ffdf6c;
  color: #333;
}

.button-group .print-button:hover {
  background-color: #ffc344;
  transform: scale(1.05);
}

/* Delete All Button Styling */
.button-group .delete-button {
  background-color: #ff4d4d;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.button-group .delete-button:hover {
  background-color: #d93636;
  transform: scale(1.05);
}

/* Footer Styling */
.footer {
  background-color: #333;
  color: white;
  padding: 15px 0;
  margin-top: auto;
  text-align: center;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}

.footer p {
  margin: 0;
  font-size: 1rem;
  font-weight: lighter;
}

.notification {
  /* position: fixed; */
  top: 10px;
  right: 10px;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 1000;
  opacity: 1;
  /* Ensure it starts fully visible */
  transition: opacity 0.5s ease-in-out;
  /* Smooth fade-out effect */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}